In [3]:
from sqlalchemy import create_engine
import pandas as pd
from config.config import DATABASE_URL

engine = create_engine(DATABASE_URL)

query = "SELECT t.id AS topic_id, t.name AS topic_name, im.code AS indicator_code, im.name AS indicator_name, c.name AS country_name, iv.date, iv.value FROM topics t JOIN indicator_meta im ON t.id = im.topic_id JOIN indicator_values iv ON im.id = iv.indicator_id JOIN countries c ON c.id = iv.country_id ORDER BY random() LIMIT 10;"

df = pd.read_sql(query, engine)
display(df)

,topic_id,topic_name,indicator_code,indicator_name,country_name,date,value
0,20,External Debt,DT.NFL.PCBO.CD,Commercial banks and other lending (PPG + PNG)...,"Congo, Dem. Rep.",2008,-6.979000e+06
1,20,External Debt,DT.NFL.PCBO.CD,Commercial banks and other lending (PPG + PNG)...,IDA only,2020,1.270808e+10
2,20,External Debt,DT.NFL.PCBO.CD,Commercial banks and other lending (PPG + PNG)...,Sudan,2023,0.000000e+00
3,4,Education,SE.PRM.UNER.MA.ZS,"Children out of school, male (% of male primar...",West Bank and Gaza,2012,6.698050e+00
4,3,Economy & Growth,NY.GDP.MKTP.KD,GDP (constant 2015 US$),Caribbean small states,2006,3.241175e+10
5,13,Public Sector,GC.TAX.INTT.CN,Taxes on international trade (current LCU),Dominican Republic,2012,2.344414e+10
6,4,Education,BAR.NOED.4549.ZS,Barro-Lee: Percentage of population age 45-49 ...,Luxembourg,2000,4.810000e+00
7,13,Public Sector,GC.TAX.INTT.CN,Taxes on international trade (current LCU),Indonesia,2004,1.274180e+13
8,4,Education,BAR.NOED.4549.ZS,Barro-Lee: Percentage of population age 45-49 ...,Germany,2010,1.630000e+00
9,3,Economy & Growth,NY.GDP.MKTP.KD,GDP (constant 2015 US$),Sub-Saharan Africa (excluding high income),2010,1.363872e+12

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>topic_id</th>
      <th>topic_name</th>
      <th>indicator_code</th>
      <th>indicator_name</th>
      <th>country_name</th>
      <th>date</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>20</td>
      <td>External Debt</td>
      <td>DT.NFL.PCBO.CD</td>
      <td>Commercial banks and other lending (PPG + PNG)...</td>
      <td>Congo, Dem. Rep.</td>
      <td>2008</td>
      <td>-6.979000e+06</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20</td>
      <td>External Debt</td>
      <td>DT.NFL.PCBO.CD</td>
      <td>Commercial banks and other lending (PPG + PNG)...</td>
      <td>IDA only</td>
      <td>2020</td>
      <td>1.270808e+10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>20</td>
      <td>External Debt</td>
      <td>DT.NFL.PCBO.CD</td>
      <td>Commercial banks and other lending (PPG + PNG)...</td>
      <td>Sudan</td>
      <td>2023</td>
      <td>0.000000e+00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Education</td>
      <td>SE.PRM.UNER.MA.ZS</td>
      <td>Children out of school, male (% of male primar...</td>
      <td>West Bank and Gaza</td>
      <td>2012</td>
      <td>6.698050e+00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>Economy &amp; Growth</td>
      <td>NY.GDP.MKTP.KD</td>
      <td>GDP (constant 2015 US$)</td>
      <td>Caribbean small states</td>
      <td>2006</td>
      <td>3.241175e+10</td>
    </tr>
    <tr>
      <th>5</th>
      <td>13</td>
      <td>Public Sector</td>
      <td>GC.TAX.INTT.CN</td>
      <td>Taxes on international trade (current LCU)</td>
      <td>Dominican Republic</td>
      <td>2012</td>
      <td>2.344414e+10</td>
    </tr>
    <tr>
      <th>6</th>
      <td>4</td>
      <td>Education</td>
      <td>BAR.NOED.4549.ZS</td>
      <td>Barro-Lee: Percentage of population age 45-49 ...</td>
      <td>Luxembourg</td>
      <td>2000</td>
      <td>4.810000e+00</td>
    </tr>
    <tr>
      <th>7</th>
      <td>13</td>
      <td>Public Sector</td>
      <td>GC.TAX.INTT.CN</td>
      <td>Taxes on international trade (current LCU)</td>
      <td>Indonesia</td>
      <td>2004</td>
      <td>1.274180e+13</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>Education</td>
      <td>BAR.NOED.4549.ZS</td>
      <td>Barro-Lee: Percentage of population age 45-49 ...</td>
      <td>Germany</td>
      <td>2010</td>
      <td>1.630000e+00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3</td>
      <td>Economy &amp; Growth</td>
      <td>NY.GDP.MKTP.KD</td>
      <td>GDP (constant 2015 US$)</td>
      <td>Sub-Saharan Africa (excluding high income)</td>
      <td>2010</td>
      <td>1.363872e+12</td>
    </tr>
  </tbody>
</table>
</div>